// compileNested: app.css

/* ==========================================================================
   Imported styles
   ========================================================================== */

@import "bootstrap-config";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets";

/* ==========================================================================
   Global Variables
   ========================================================================== */

/* Typography
   ========================================================================== */
$font-weight__light:  300;
$font-weight__normal: 400;
$font-weight__bold:   700;

/* z-indexes
   ========================================================================== */

$z-index__neg: -1;
$z-index__1:    1;
$z-index__2:    2;
$z-index__3:    3;
$z-index__4:    4;
$z-index__5:    5;
$z-index__6:    6;
$z-index__7:    7;
$z-index__8:    8;
$z-index__9:    9;


/* ==========================================================================
   Shared Styles - Bigger Picture
   ========================================================================== */

body {
  display: flex;
  flex-direction: column;
  padding: 1em 0;

  min-height: 100vh;

  color: white;
  font-family: "DIN Next W01", sans-serif;

  align-items: center;
  justify-content: flex-start;
}

section {
  margin: 1em auto;
}

section#header {
  align-self: flex-start;
}

section#header {
  align-self: flex-end;
}

.parcelhitch-branding {
  max-width: 320px;
  margin-bottom: 1em;
  margin-top: -2em;
}

/* ==========================================================================
   Commuter Registration
   ========================================================================== */

/* Variables
   ========================================================================== */

/* Colours */

$colour__commreg-0: rgba(40, 63, 170, 1);
$colour__commreg-1: rgba(105, 122, 201, 1);
$colour__commreg-2: rgba(69, 89, 180, 1);
$colour__commreg-3: rgba(20, 42, 142, 1);
$colour__commreg-4: rgba(12, 30, 112, 1);

/* Scaffolding
   ========================================================================== */

.commuter-registration {
  background: linear-gradient(to bottom, $colour__commreg-0 0%, $colour__commreg-1 100%);
}

/* Transport Picker (Page 0)
   ========================================================================== */

.commreg__transport-picker {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
  }
}

.btn--commreg__transport {
  display: inline-block;
  text-transform: uppercase;
  font-size: 28px;
  transition: background 0.5s, color 0.5s;
  border: 2px solid white;
  height: 100px;
  padding-top: 35px;
  border-radius: 0;

  @include media-breakpoint-up(md) {
    height: 200px;
    width: 200px;
    padding-top: 85px;
  }
}

.btn--commreg__transport.active {
  background: white;
  color: $colour__commreg-0;
}

/* Station Picker (Page 0)
   ========================================================================== */

.commreg__station-picker select {
  width: 100%;
  font-size: 1.8em;
  border-radius: 4px;
}

/* Day Picker (Page 1)
   ========================================================================== */

.commreg__day-picker .day {
  display: inline-block;
  height: 300px;
}

.btn--commreg__day {
  display: inline;
  text-transform: uppercase;
  font-size: 22px;
  transition: background 0.5s, color 0.5s;
  background: transparent;
  color: white;
  height: 150px;
  width: 150px;
  border: 2px solid white;
  padding-top: 13px;
  border-radius: 0;
}

.btn-group:first-child {
  margin-right: -5px;
}

.btn--commreg__day.active {
  background: white;
  color: $colour__commreg-0;
}

.commreg__day-picker .time-selector {
  display: block;
  font-size: 0.9em;
  padding: 0.25em;
}

.commreg__day-picker .time-selector label {
  margin-bottom: 0;
  margin-top: 0.66em;
}

body.commuter-registration-1 section#footer {
  text-align: center;
  width: 500px;

  .btn {
    width: 200px;
  }
}

/* Location Picker (Page 2)
   ========================================================================== */

.booking__location-picker {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* Size Picker (Page 2)
   ========================================================================== */

.booking__size-picker p {
  margin-bottom: 6px;
}

.booking__size-picker .btn-group {
  margin-bottom: 12px;
}

.booking__size-picker .btn-secondary {
  margin: 0 auto;
}

.btn--booking__size {
  font-size: 18px;
  transition: background 0.5s, color 0.5s;
  background: transparent;
  color: white;
  height: 80px;
  width: 120px;
  border: 2px solid white;
  padding-top: 27px;
  border-radius: 0;
}

.btn--booking__size.active {
  background: white;
  color: $colour__commreg-0;
}

.box-graphics {
  width: 358px;
  margin-bottom: 18px;
  text-align: center;
}

.box-graphics img {
  background-image: url("../images/parcelhitch-box.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  margin: 1em auto;
  width: 100%;
}

.box-graphics-small img {
  height: 140px;
}

.box-graphics-medium img {
  height: 160px;
}

.box-graphics-large img {
  height: 180px;
}

body.commuter-registration-2 section#footer {
  width: 500px;
}

/* Parcel Timing (Page 3)
   ========================================================================== */

.booking__time-picker {
  text-align: center;
}

.booking__time-picker hr {
  margin: 0.5em auto 1em;
  max-width: 200px;
  border-bottom: 2px solid white;
}

.drop-off-time {
  font-size: 1.33em;
}

.delivery-time .btn-group {
  margin-bottom: 16px;
}

.btn--booking__urgency {
  font-size: 18px;
  transition: background 0.5s, color 0.5s;
  background: transparent;
  color: white;
  height: 80px;
  border: 2px solid white;
  padding-top: 27px;
  border-radius: 0;
}

.btn--booking__urgency.active {
  background: white;
  color: $colour__commreg-0;
}

body.commuter-registration-3 section#footer {
  text-align: center;
  width: 500px;

  .btn {
    width: 150px;
  }
}

.commuter-registration-3 {
  .slider-container {
    margin-bottom: 35px;
  }
  .slider-container > span {
    margin-left: 28px;
  }

  .slider-horizontal {
    margin-bottom: 0 !important;
  }

  .slider-tick-label {
    margin-left: -26.25px !important;
  }

  .jumbotron {
    background-color: transparent;
  }
}

.slider-selection {
	background: rgba(186, 186, 186, 1);

  &.tick-slider-selection {
    background: rgba(186, 186, 186, 1);
  }
}

$tick-colour-allowed: rgba(82, 179, 217, 1);

.slider-tick {
  background: $tick-colour-allowed;
  opacity: 1;
}

.slider-tick.in-selection {
  background: rgba(186, 186, 186, 1);
}

.slider-track {
	background: $tick-colour-allowed;
}

.slider-handle {
  background: $tick-colour-allowed;
}

.estimated-cost {
  font-size: 60px;
  font-weight: bold;
}